
nav {
    background: var(--color-mint) ;
    width: max-content ;
    display: block ;
    padding: 0.7rem 1.7rem ;
    z-index: 2 ;
    position: fixed ;
    left: -1rem ;
    bottom: 50% ;
    transform: rotate(90deg) ;
    display: flex ;
    gap: 0.8rem ;
    border-radius: 3rem ;
    backdrop-filter: blur(15px) ;
}

nav a {
    background: transparent ;
    transform: rotate(-90deg) ;
    padding: .8rem ;
    border-radius: 50% ;
    font-size: 1.1rem ;
    color: var(--color-dk-green) ;
}

nav a:hover {
    color: var(--color-bg) ;

}

nav a.active {
    color: var(--color-bg) ;
}
