
* {
  margin: 0 ;
  padding: 0 ;
  border: 0;
  border-color: black ;
  box-sizing: border-box ;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  height: 100vh ;
}

:root {
  --color-bg: black ;
  --color-lt-green: rgb(127, 215, 178) ;
  --color-mint: rgba(6, 95, 40, 0.3) ;
  --color-dk-green: rgb(87, 110, 87) ;
  --color-bg-variant: rgb(131, 221, 223) ;
  --color-bg-green: rgb(8, 64, 55) ;
}
